
<br><br>
<div class="about-section">
  <h1>Our Services</h1>
  <p>Services for all our lovely candidates.</p>
</div>
  <br>
  <br>
<h1 style="text-align: center;color: black;"><b>FIRST FLOOR ROOMS</b></h1>
<!-- Inner -->

<div class="carousel-inner py-4">
  <!-- Single item -->
  <div class="carousel-item active">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <img
              src="../assets/hs4.jpg"
              class="card-img-top"
              alt="Waterfall"
            />
            <div class="card-body">
              <h5 class="card-title">Floor-1</h5>
              <h5 class="card-title">Room-No-1</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of the card's content.
              </p>
              <a href="#!" data-mdb-ripple-init class="btn btn-primary" routerLink="/book">Book now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 d-none d-lg-block">
          <div class="card">
            <img
              src="../assets/hs2.jpg"
              class="card-img-top"
              alt="Sunset Over the Sea"
            />
            <div class="card-body">
              <h5 class="card-title">Floor-1</h5>
              <h5 class="card-title">Room-No-2</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of the card's content.
              </p>
              <a href="#!" data-mdb-ripple-init class="btn btn-primary" routerLink="/book">Book now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 d-none d-lg-block">
          <div class="card">
            <img
              src="../assets/hs3.jpg"
              class="card-img-top"
              alt="Sunset over the Sea"
            />
            <div class="card-body">
              <h5 class="card-title">Floor-1</h5>
              <h5 class="card-title">Room-No-3</h5>              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of the card's content.
              </p>
              <a href="#!" data-mdb-ripple-init class="btn btn-primary" routerLink="/book">Book now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="carousel-inner py-4">
  <!-- Single item -->
  <div class="carousel-item active">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <img
              src="../assets/hs4.jpg"
              class="card-img-top"
              alt="Waterfall"
            />
            <div class="card-body">
              <h5 class="card-title">Floor-1</h5>
              <h5 class="card-title">Room-No-4</h5>              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of the card's content.
              </p>
              <a href="#!" data-mdb-ripple-init class="btn btn-primary" routerLink="/book">Book now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 d-none d-lg-block">
          <div class="card">
            <img
              src="../assets/hs5.jpg"
              class="card-img-top"
              alt="Sunset Over the Sea"
            />
            <div class="card-body">
              <h5 class="card-title">Floor-1</h5>
              <h5 class="card-title">Room-No-5</h5>              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of the card's content.
              </p>
              <a href="#!" data-mdb-ripple-init class="btn btn-primary" routerLink="/book">Book now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 d-none d-lg-block">
          <div class="card">
            <img
              src="../assets/hs6.jpg"
              class="card-img-top"
              alt="Sunset over the Sea"
            />
            <div class="card-body">
              <h5 class="card-title">Floor-1</h5>
              <h5 class="card-title">Room-No-5</h5>              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of the card's content.
              </p>
              <a href="#!" data-mdb-ripple-init class="btn btn-primary" routerLink="/book">Book now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

<h1 style="text-align: center;color: black;"><b>SECOND FLOOR ROOMS</b></h1>



<div class="carousel-inner py-4">
  <!-- Single item -->
  <div class="carousel-item active">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <img
              src="../assets/hs7.jpg"
              class="card-img-top"
              alt="Waterfall"
            />
            <div class="card-body">
              <h5 class="card-title">Floor-2</h5>
              <h5 class="card-title">Room-No-1</h5>            
                <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of the card's content.
              </p>
              <a href="#!" data-mdb-ripple-init class="btn btn-primary" routerLink="/book">Book now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 d-none d-lg-block">
          <div class="card">
            <img
              src="../assets/hs8.jpg"
              class="card-img-top"
              alt="Sunset Over the Sea"
            />
            <div class="card-body">
              <h5 class="card-title">Floor-2</h5>
              <h5 class="card-title">Room-No-2</h5>                   <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of the card's content.
              </p>
              <a href="#!" data-mdb-ripple-init class="btn btn-primary" routerLink="/book">Book now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 d-none d-lg-block">
          <div class="card">
            <img
              src="../assets/hs9.jpg"
              class="card-img-top"
              alt="Sunset over the Sea"
            />
            <div class="card-body">
              <h5 class="card-title">Floor-2</h5>
              <h5 class="card-title">Room-No-3</h5>                   <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of the card's content.
              </p>
              <a href="#!" data-mdb-ripple-init class="btn btn-primary" routerLink="/book">Book now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="carousel-inner py-4">
  <!-- Single item -->
  <div class="carousel-item active">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <img
              src="../assets/hs12.jpg"
              class="card-img-top"
              alt="Waterfall"
            />
            <div class="card-body">
              <h5 class="card-title">Floor-2</h5>
              <h5 class="card-title">Room-No-4</h5>                   <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of the card's content.
              </p>
              <a href="#!" data-mdb-ripple-init class="btn btn-primary" routerLink="/book">Book now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 d-none d-lg-block">
          <div class="card">
            <img
              src="../assets/hs11.jpg"
              class="card-img-top"
              alt="Sunset Over the Sea"
            />
            <div class="card-body">
              <h5 class="card-title">Floor-2</h5>
              <h5 class="card-title">Room-No-5</h5>                   <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of the card's content.
              </p>
              <a href="#!" data-mdb-ripple-init class="btn btn-primary" routerLink="/book">Book now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 d-none d-lg-block">
          <div class="card">
            <img
              src="../assets/l.jpg"
              class="card-img-top"
              alt="Sunset Over the Sea"
            />
            <div class="card-body">
              <h5 class="card-title">Floor-2</h5>
              <h5 class="card-title">Room-No-6</h5>                   <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of the card's content.
              </p>
              <a href="#!" data-mdb-ripple-init class="btn btn-primary" routerLink="/book">Book now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>



  <br>
  <h1 style="text-align: center;color: black;"><b>THIRD FLOOR ROOMS</b></h1>





  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <img
                src="../assets/h3.jpg"
                class="card-img-top"
                alt="Waterfall"
              />
              <div class="card-body">
                <h5 class="card-title">Floor-3</h5>
                <h5 class="card-title">Room-No-1</h5>          
                 <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" data-mdb-ripple-init class="btn btn-primary" routerLink="/book">Book now</a>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="../assets/a1.jpg"
                class="card-img-top"
                alt="Sunset Over the Sea"
              />
              <div class="card-body">
                <h5 class="card-title">Floor-3</h5>
                <h5 class="card-title">Room-No-2</h5>                          <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" data-mdb-ripple-init class="btn btn-primary" routerLink="/book">Book now</a>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="../assets/a2.jpg"
                class="card-img-top"
                alt="Sunset over the Sea"
              />
              <div class="card-body">
                <h5 class="card-title">Floor-3</h5>
                <h5 class="card-title">Room-No-3</h5>                          <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" data-mdb-ripple-init class="btn btn-primary" routerLink="/book">Book now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  
  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <img
                src="../assets/ab.jpg"
                class="card-img-top"
                alt="Waterfall"
              />
              <div class="card-body">
                <h5 class="card-title">Floor-3</h5>
                <h5 class="card-title">Room-No-4</h5>                          <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" data-mdb-ripple-init class="btn btn-primary" routerLink="/book">Book now</a>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="../assets/r1.jpg"
                class="card-img-top"
                alt="Sunset Over the Sea"
              />
              <div class="card-body">
                <h5 class="card-title">Floor-3</h5>
                <h5 class="card-title">Room-No-5</h5>                          <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" data-mdb-ripple-init class="btn btn-primary" routerLink="/book">Book now</a>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="../assets/r2.jpg"
                class="card-img-top"
                alt="Sunset over the Sea"
              />
              <div class="card-body">
                <h5 class="card-title">Floor-3</h5>
                <h5 class="card-title">Room-No-6</h5>                          <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" data-mdb-ripple-init class="btn btn-primary" routerLink="/book">Book now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>


    <br>
  <h1 style="text-align: center;color: black;"><b>FORTH FLOOR ROOMS</b></h1>





  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <img
                src="../assets/r3.jpg"
                class="card-img-top"
                alt="Waterfall"
              />
              <div class="card-body">
                <h5 class="card-title">Floor-4</h5>
                <h5 class="card-title">Room-No-1</h5>                          
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" data-mdb-ripple-init class="btn btn-primary" routerLink="/book">Book now</a>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="../assets/s1.jpg"
                class="card-img-top"
                alt="Sunset Over the Sea"
              />
              <div class="card-body">
                <h5 class="card-title">Floor-4</h5>
                <h5 class="card-title">Room-No-2</h5>                        <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" data-mdb-ripple-init class="btn btn-primary" routerLink="/book">Book now</a>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="../assets/s2.jpg"
                class="card-img-top"
                alt="Sunset over the Sea"
              />
              <div class="card-body">
                <h5 class="card-title">Floor-4</h5>
                <h5 class="card-title">Room-No-3</h5>                        <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" data-mdb-ripple-init class="btn btn-primary" routerLink="/book">Book now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  
  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <img
                src="../assets/s3.jpg"
                class="card-img-top"
                alt="Waterfall"
              />
              <div class="card-body">
                <h5 class="card-title">Floor-4</h5>
                <h5 class="card-title">Room-No-4</h5>                        <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" data-mdb-ripple-init class="btn btn-primary" routerLink="/book">Book now</a>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="../assets/s4.jpg"
                class="card-img-top"
                alt="Sunset Over the Sea"
              />
              <div class="card-body">
                <h5 class="card-title">Floor-4</h5>
                <h5 class="card-title">Room-No-5</h5>                        <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" data-mdb-ripple-init class="btn btn-primary" routerLink="/book">Book now</a>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="../assets/s5.jpg"
                class="card-img-top"
                alt="Sunset over the Sea"
              />
              <div class="card-body">
                <h5 class="card-title">Floor-4</h5>
                <h5 class="card-title">Room-No-6</h5>                        <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" data-mdb-ripple-init class="btn btn-primary" routerLink="/book">Book now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>