<br><br><div class="about-section">
    <h1>--Located--</h1>
    <p>hotel maharaja is located in the SATARA.</p>
  </div>
  <br>
  <br>
<div class="col-md-6">
    <div id="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d121647.41900841579!2d73.9358572972198!3d17.67468367932039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc239be08d96bbd%3A0x5f4adf559fb4b19a!2sSatara%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1716251081360!5m2!1sen!2sin" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>