



  .transparent-nav {
    background-color: transparent;
    /* Make the navbar colorless (transparent) */
    position: absolute;
    width: 100%;
    z-index: 999;
    top: 0;
  }

  .navbar-nav .nav-link {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    /* Set the color of navbar links to white */
  }

  .label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* Set the color of the label text to white */
    font-weight: bold;
    /* Set the font weight to bold */
  }

  .navbar-nav .nav-link:hover {
    color: yellow;
    /* Change the color of the navbar links to yellow when hovered over */
  }

  .navbar-brand {
    width: 150px;
    /* Set the width of the logo */
    height: 70px;
    /* Set the height of the logo */
  }
  .nav-item-pill {
    border: 1px solid #ccc; /* Add your desired border style */
    border-radius: 5px; /* Add border radius for rounded corners */
    margin: 5px; /* Add margin for spacing between items */
  }
  /*BUTTON*/
  .custom-btn {
    background-color: #ff0e0e;
    /* Blue */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .custom-btn:hover {
    background-color: #0056b3;
    /* Darker Blue */
    color: white;
  }

  .blinking {
    animation: blinker 3s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
 