


<br><br>
<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>
<br>


 <div class="container mt-5">
    <h3 class="text-center">We imagined this place very comfortable, relaxing, beautiful. </h3>
    <p class="text-center">A cool surfer/yoga village with many healthy food options</p>
  </div>
<div class="container mt-5">
  <h6>
<p>Experience luxury and comfort like never before at Hotel Maharaja. Located in the heart of the city, our
  hotel offers
  top-notch accommodation, exquisite dining options, and world-class facilities to make your stay
  unforgettable.</p>
<p>Whether you are traveling for business or leisure, our friendly staff is dedicated to ensuring your every
  need is
  met. Explore our range of spacious rooms and suites, each designed with your comfort in mind.</p>
<p>Indulge in culinary delights at our on-site restaurants, relax by the poolside with a refreshing drink, or
  rejuvenate
  your senses at our spa and wellness center.</p>
<p>Contact us today to book your stay at Hotel Maharaja and embark on a journey of luxury and relaxation.</p>
</h6></div>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="embed-responsive embed-responsive-16by9">
        <video class="embed-responsive-item" src="../assets/hv.mp4" controls autoplay ></video>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <h3 class="text-center">We imagined this place very comfortable, relaxing, beautiful. </h3>
  <p class="text-center">A cool surfer/yoga village with many healthy food options</p>
</div>
<div class="container mt-5">
<h6>
<p>Experience luxury and comfort like never before at Hotel Maharaja. Located in the heart of the city, our
hotel offers
top-notch accommodation, exquisite dining options, and world-class facilities to make your stay
unforgettable.</p>
<p>Whether you are traveling for business or leisure, our friendly staff is dedicated to ensuring your every
need is
met. Explore our range of spacious rooms and suites, each designed with your comfort in mind.</p>
<p>Indulge in culinary delights at our on-site restaurants, relax by the poolside with a refreshing drink, or
rejuvenate
your senses at our spa and wellness center.</p>
<p>Contact us today to book your stay at Hotel Maharaja and embark on a journey of luxury and relaxation.</p>
</h6></div>
<br>
<!-- Carousel wrapper -->

  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="embed-responsive embed-responsive-16by9">
          <video class="embed-responsive-item" src="../assets/hv4.mp4" controls autoplay></video>
        </div>
      </div>
    </div>
  </div>
  

  
