
<br><h1 style="text-align: center;">Valuable Feedback</h1>
<br>
<div class="container">
    <div class="row">
      <div class="col-md-12">
<table class="table">
    <thead>
        <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Message</th>
        <th>Phone</th>
        <th>Subject</th>
        </tr>
    </thead>
    <tbody>
        </tbody>
        <tr *ngFor="let f of cd">
            <td>{{f.id}}</td>
            <td>{{f.name}}</td>
            <td>{{f.email}}</td>
            <td>{{f.message}}</td>
            <td>{{f.phone}}</td>
            <td>{{f.subject}}</td>
    </table>
    </div></div></div>