 <!--footer code-->
 <br>
 <br>
 <div class="content">
     <!-- Your main content here -->
 </div>
 
 <footer>
     <div class="footer-content">
       <div class="footer-logo">
         <!-- Hotel logo image -->
         <img src="../assets/s.jpg" alt="Hotel Logo">
     </div>
         <div class="footer-list">
             <ul>
                 <li>Quick Links</li>
                 <li>About Us</li>
                 <li>Contact</li>
                 <li>Quick Links</li>
                 <li>About Us</li>
                 <li>Contact</li>
                 <!-- Add more quick links as needed -->
             </ul>
         </div>
         <div class="footer-list">
             <ul>
                 <li>pratiksha sapkal</li>
                 <li>Vaishnavi shelar</li>
                 <li>Komal kadam</li> 
                 <li>Asmita shelke</li>
                 <li>Anita jarag</li>
                 <!-- Add more services as needed -->
             </ul>
         </div>
         <div class="footer-list">
           <ul>
               <li>#India</li>
               <li>#America</li>
               <li>#Austrellia</li>
               <li>#Londone</li>
               <li>#USA</li>
               <li>#Hydrabad</li>
               <!-- Add more services as needed -->
           </ul>
       </div>
       <div class="footer-list">
         <ul>
             <li>Vission</li>
             <li>Mission</li>
             <li>Gallery</li>
             <li>Action</li>
             <li>Hotel branches</li>
             <!-- Add more services as needed -->
         </ul>
     </div>
         <div class="footer-list">
             <ul>
                 <li>Eclipse</li>
                 <li>Visual studio</li>
                 <li>postman</li>
                 <li>Mysql</li>
                 <li>Command prompt</li>
                 <li>Chrome</li>

                 <!-- Add more social media links as needed -->
             </ul>
         </div>
         <div class="footer-list">
           <ul>
               <li>Java</li>
               <li>Angular</li>
               <li>Springboot</li>
               <li>HTML/CSS</li>
               <li>SQL</li>
               <!-- Add more social media links as needed -->
           </ul>
       </div>
     </div><br>
     <p>&copy; 2024 Your Company. All rights reserved.&copy; 2024 Your Company. All rights reserved.</p>
